<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
<%= link_to t(".link_title_1"), Settings.link.static_pages.about.link_1 %>
<%= t ".content_1" %>
<%= link_to t(".link_title_2"), Settings.link.static_pages.about.link_2 %>
<%= t ".content_2" %>
<%= link_to t(".link_title_3"), Settings.link.static_pages.about.link_3 %>
<%= t ".content_3" %>
<%= link_to t(".link_title_4"), Settings.link.static_pages.about.link_4 %>
<%= t ".content_4" %>
<%= link_to t(".link_tilte_5"), Settings.link.static_pages.about.link_5 %>
<%= t ".content_5" %>
</p>
