<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".content") %>
  <%= link_to t(".content_2"), "http://www.railstutorial.org/help" %>
  <%= t(".content_2") %></a>.
  <%= t(".content_3") %>
  <%= link_to t(".tutorial"), "http://www.railstutorial.org/book" %><em>
  </em></a>.
</p>
