<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
    <h2>
      <%= t ".content_1" %>
      <%= link_to t(".link_title"), Settings.link.static_pages.home.link_1 %>
      <%= t ".content_2" %>
    </h2>
  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
